/* Nova logo: remove h-6 fixed height so logo uses natural size */
header a.rounded-lg.flex.items-center svg {
  height: auto !important;
}
a[href="https://nova.laravel.com/licenses"] {
  display:none !important;
}

.nova-tooltip {
    position: relative;
    cursor: pointer;
}

.nova-tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    background: #111827;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    transition: 0.2s ease-in-out;
    z-index: 9999;
}

.nova-tooltip:hover .nova-tooltip-text {
    visibility: visible;
    opacity: 1;
}
